---
layout: default
title: Posts
---

{% include home_default.html %}

<section id="blog" class="blog">
    <div class="container">
        <div class="row">
            <div class="main_blog text-center roomy-40">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="head_title text-center">
                        <h2>POSTS</h2>
                        <div class="separator_auto"></div>

                        <div class="category">
                          <ul>
                            <li>
                              <div class="about_btns m-top-40">
                                    <a href="#hands-on ML" class="btn btn-primary btn-color3">Hands-on ML</a>
                              </div>
                            </li>
                            <li>
                              <div class="about_btns m-top-40">
                                    <a href="#first-contact" class="btn btn-primary btn-color2">First contact</a>
                              </div>
                            </li>
                            <li>
                              <div class="about_btns m-top-40">
                                    <a href="#laon" class="btn btn-primary btn-color1">Laon people</a>
                              </div>
                            </li>
                          </ul>
                        </div>
                    </div>
                  </div>
              </div><!--End off row -->
          </div><!--End off container -->
      </section><!-- End off Blog section-->

                <!--post-->
                <section id="hands-on ML" class="lightbg">
                  <div class="main_blog text-center roomy-60">
                    <div class="head_title text-center">
                      <h3>HANDS ON</h3>
                      <div class="separator_auto separator_color3"></div>
                        {% for post in site.tags.hands-on %}
                            <div class="blog_item m-top-20">
                              <!--image
                                <div class="blog_item_img">
                                    <img src="assets/images/Blog/1.jpg" alt="" />
                                </div>
                              -->
                              <div class="blog_text roomy-40 col-sm-6 col-sm-offset-3">
                                  <a href="{{ post.url | prepend: site.baseurl }}">
                                    <h5><U>{{ post.title }}</U></h5>
                                      <p>{{ post.excerpt | strip_html | truncatewords: 50 }}</p>
                                  </a>
                                  <em> {{ post.date | date_to_string }} / {{ post.author }} </em>
                              </div>
                            </div>

                        {% endfor %}
                    </div>
                  </div>
                </section>

                <section id="first-contact">
                  <div class="main_blog text-center roomy-60">
                    <div class="head_title text-center">
                      <h3>FIRST CONTACT</h3>
                      <div class="separator_auto separator_color2"></div>
                        {% for post in site.tags.first-contact %}
                            <div class="blog_item m-top-20">
                              <!--image
                                <div class="blog_item_img">
                                    <img src="assets/images/Blog/1.jpg" alt="" />
                                </div>
                              -->
                              <div class="blog_text roomy-40 col-sm-6 col-sm-offset-3">
                                  <a href="{{ post.url | prepend: site.baseurl }}">
                                    <h5><U>{{ post.title }}</U></h5>
                                      <p>{{ post.excerpt | strip_html | truncatewords: 50}}</p>
                                  </a>
                                  <em> {{ post.date | date_to_string }} / {{ post.author }} </em>
                              </div>
                            </div>

                        {% endfor %}
                    </div>
                  </div>
                </section>

                <section id="laon" class="lightbg">
                  <div class="main_blog text-center roomy-60">
                    <div class="head_title text-center">
                      <h3>LAON PEOPLE</h3>
                      <div class="separator_auto separator_color1"></div>
                        {% for post in site.tags.laon %}
                            <div class="blog_item m-top-20">
                              <!--image
                                <div class="blog_item_img">
                                    <img src="assets/images/Blog/1.jpg" alt="" />
                                </div>
                              -->
                                <div class="blog_text roomy-40 col-sm-6 col-sm-offset-3">
                                    <a href="{{ post.url | prepend: site.baseurl }}">
                                      <h5><U>{{ post.title }}</U></h5>
                                        <p>{{ post.excerpt | strip_html | truncatewords: 50 }}</p>
                                    </a>
                                    <em> {{ post.date | date_to_string }} / {{ post.author }} </em>
                                </div>
                            </div>

                        {% endfor %}
                    </div>
                  </div>
                </section>
                <!-- End off recent post-->
