<head>
  <head>
      <meta charset="UTF-8">
      <meta name="description" content="Hazze Template">
      <meta name="keywords" content="Hazze, unica, creative, html">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{ page.title }}</title>

    <!--Google analytics-->
    {% include analytics.html %}

    <link href="data:image/png;base64,AAABAAEAEBAAAAEACABoBQAAFgAAACgAAAAQAAAAIAAAAAEACAAAAAAAAAEAAAAAAAAAAAAAAAEA
                AAAAAAAAAAAAXXpTAF0vLgBeSXoAIxk9AFlPJwCHVFEAEBFEAFssHgB7h1cAYkVcAJJrhAAYEUQA
                EhQ8ABsOPACDmFkATHY/AC8YOABwQCgAZZJTAPqinAB1NzEAh4+EAF2EOQCBX2YAGiBNAFVwOACN
                UmEAYCgjAHpQVwCAn2AAfnCSAFuHQgBQcDkAkUxJAIBQaACSWFkAfXtjAGd0RgAqI1YASn0/AER0
                QABOejcAMxE2ALDElQA6OmgAdY5QAFJsTgCQUU0AiEpAABgkPAAtEzEAQnI+AGqRWQBzMy8AERND
                AG6fWwBJfEMAERM7AIteWwBBPGMAb5tWABMVPgAPGD4Aj05GAE9kZgBDQHEAsZ59AHVJVgBPdEIA
                FRFCAFBtVgCISEgAkGlnAKWBlwDzopoAg6R4AGgpJQC0xMoALiBaACIgSgC7iaEAn8CUAAAAAAAA
                AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                AAAAAAAAAAAAAAAAAAAAAAAAAAAAADUoNEcAADoNPlAAAAAAACo4AAAAP0EAAABCRgAAAEwTAAAA
                TwAAAQAAAC08AAApAAAAACsAACEAAAAANwAAOQAAAABRGAkeAAAAAAcAABAAAAAVGwAAD0MAAAAM
                AABFAAASACMAACYAAgAADgAAUiAABQADJ04WAEQAER8AAAA9FwAAABkyAAAACwoAAAAAACwuGi8A
                AAQzSh0AAAAAAAAlAAAAAAAAAABJAAAAAAAAAAgAAAAAAAA2AAAAAAAAAAAkSAAAAABAMQAAAAAA
                AAAAADtNIjAcBgAAAAAAAAAAAAAAABRLAAAAAAAAAP//AADhhwAAznMAAJ25AAC9vQAAvD0AALmd
                AAC1rQAAlCkAAM5zAADhhwAA7/cAAPfvAADzzwAA+B8AAP5/AAA=" rel="icon" type="image/png" />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:400,500,600,700,800,900&display=swap"
        rel="stylesheet">
    <link href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/themify-icons.css" type="text/css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" type="text/css">

    <!--Google search console-->
    <meta name="google-site-verification" content="wGiDk3KvxiJnz_NUL2PU5MFg51zdPidy8tG8ZR-8EW0" />

    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']], displayMath: [['$$','$$']], processEscapes: true,}});
    </script>

</head>
