<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACx
                    jwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAHJSURBVDhPhVNJL0RBEG53F3d+iqsTN4mLODhx
                    wM3FD3AR+zJmGGNIhIQDiVgiLtaQ2EIktojxhsFYZrPM+HzVz6PfZEQnX/p1VX1fV1XXUyp4g38x
                    aEF5rqEGuA9n+VwHQSBsE/pJ8HHnd9XBO5D5xNjBM0VoN0V+Prx0dIegRiJo2HzB/ksGF1YC+V6K
                    dFmYTECv1b0oRXiJS4Bkb9QO0CuVxthpSgcUBClAf/Xxh3aNrN0zq2wBQdcVHdxbuI/e/Qb0MKv2
                    K1Qc2QKj67kE2JzK41cdYK6ts5gOMldugSAN3RY8kU8gTFLzJVQrM2kjaC9bjqL+8E0LjG/8VQK7
                    Pp2UkDRqduO4jul4IJaE6gyhcCmuj02Lt1D+XAJ+CwWz3ywmMnOSQN0KO+7j6wxJI+/p+GBGPDsc
                    l4CAIqqXAdI4H2/hzWqIu/9B675FmI34TY7rIJBBmnrWBClHnrB4/g5zT7alcY4liKgT7yI78IRQ
                    e5a2GVmrfIJZBYxYF9EBn7VkO6UJpp3zjCKZ2JyjbEIaumA39DycROuJMyPvyOv7rweCYdYYkK5n
                    0LETQ8thHE07jyid5QyY9QtcBxMi4vzCDrLJwRt8ARhe3bVnBVIpAAAAAElFTkSuQmCC" rel="icon" type="image/png" />

    <!--Google Font link-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">


    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/slick.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/slick-theme.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/animate.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/fonticons.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootsnav.css">

    <!--For Plugins external css-->
    <!--<link rel="stylesheet" href="assets/css/plugins.css" />-->

    <!--Theme custom css -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
    <!--<link rel="stylesheet" href="assets/css/colors/maron.css">-->

    <!--Theme Responsive css-->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/responsive.css" />

    <script src="{{ site.baseurl }}/assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
