<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>

    <!--Google analytics-->
    {% include analytics.html %}

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="data:image/png;base64,AAABAAEAEBAAAAEACABoBQAAFgAAACgAAAAQAAAAIAAAAAEACAAAAAAAAAEAAAAAAAAAAAAAAAEA
                AAAAAAAAAAAAXXpTAF0vLgBeSXoAIxk9AFlPJwCHVFEAEBFEAFssHgB7h1cAYkVcAJJrhAAYEUQA
                EhQ8ABsOPACDmFkATHY/AC8YOABwQCgAZZJTAPqinAB1NzEAh4+EAF2EOQCBX2YAGiBNAFVwOACN
                UmEAYCgjAHpQVwCAn2AAfnCSAFuHQgBQcDkAkUxJAIBQaACSWFkAfXtjAGd0RgAqI1YASn0/AER0
                QABOejcAMxE2ALDElQA6OmgAdY5QAFJsTgCQUU0AiEpAABgkPAAtEzEAQnI+AGqRWQBzMy8AERND
                AG6fWwBJfEMAERM7AIteWwBBPGMAb5tWABMVPgAPGD4Aj05GAE9kZgBDQHEAsZ59AHVJVgBPdEIA
                FRFCAFBtVgCISEgAkGlnAKWBlwDzopoAg6R4AGgpJQC0xMoALiBaACIgSgC7iaEAn8CUAAAAAAAA
                AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                AAAAAAAAAAAAAAAAAAAAAAAAAAAAADUoNEcAADoNPlAAAAAAACo4AAAAP0EAAABCRgAAAEwTAAAA
                TwAAAQAAAC08AAApAAAAACsAACEAAAAANwAAOQAAAABRGAkeAAAAAAcAABAAAAAVGwAAD0MAAAAM
                AABFAAASACMAACYAAgAADgAAUiAABQADJ04WAEQAER8AAAA9FwAAABkyAAAACwoAAAAAACwuGi8A
                AAQzSh0AAAAAAAAlAAAAAAAAAABJAAAAAAAAAAgAAAAAAAA2AAAAAAAAAAAkSAAAAABAMQAAAAAA
                AAAAADtNIjAcBgAAAAAAAAAAAAAAABRLAAAAAAAAAP//AADhhwAAznMAAJ25AAC9vQAAvD0AALmd
                AAC1rQAAlCkAAM5zAADhhwAA7/cAAPfvAADzzwAA+B8AAP5/AAA=" rel="icon" type="image/png" />

    <!--Google Font link-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">


    <link rel="stylesheet" href="/assets/css/slick.css">
    <link rel="stylesheet" href="/assets/css/slick-theme.css">
    <link rel="stylesheet" href="/assets/css/animate.css">
    <link rel="stylesheet" href="/assets/css/fonticons.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/bootsnav.css">

    <!--For Plugins external css-->
    <!--<link rel="stylesheet" href="assets/css/plugins.css" />-->

    <!--Theme custom css -->
    <link rel="stylesheet" href="/assets/css/post-style.css">
    <!--<link rel="stylesheet" href="assets/css/colors/maron.css">-->

    <!--Theme Responsive css-->
    <link rel="stylesheet" href="/assets/css/responsive.css" />

    <script src="/assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>

    <!--Google search console-->
    <meta name="google-site-verification" content="wGiDk3KvxiJnz_NUL2PU5MFg51zdPidy8tG8ZR-8EW0" />

    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']], displayMath: [['$$','$$']], processEscapes: true,}});
    </script>

</head>
