<!DOCTYPE html>
<html lang="zxx">

{% include head.html %}

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2">
                    <div class="logo"><a href="{{ site.baseurl }}/index.html"><img src="{{ site.baseurl }}/assets/images/logo.png" alt></a></div>
                </div>
                <div class="col-lg-10 col-md-10">
                    <div class="main-menu mobile-menu">
                        <ul>
                            <li><a href="{{ site.baseurl }}/index.html">Home</a></li>
                            <li><a href="#">Posts</a>
                                <ul class="dropdown">
                                    <li><a href="{{ site.baseurl }}/handsOnML.html">Hands-On ML</a></li>
                                    <li><a href="{{ site.baseurl }}/firstContact.html">First Contact</a></li>
                                    <li><a href="{{ site.baseurl }}/laonPeople.html">Laon People review</a></li>
                                    <li><a href="{{ site.baseurl }}/codingPractices.html">Coding Practices</a></li>
                                    <li><a href="{{ site.baseurl }}/etc.html">etc</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4562082614719670"crossorigin="anonymous"></script>
    </header>
    <!-- Header End -->

    {{ content }}

    <!-- Footer Section Begin -->
    <section class="footer-section">
        <div class="container">
            <div class="copyright-text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
        </div>
    </section>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{{ site.baseurl }}/assets/js/jquery-3.3.1.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/mixitup.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/jquery.slicknav.js"></script>
    <script src="{{ site.baseurl }}/assets/js/owl.carousel.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/main.js"></script>
</body>

</html>
