<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

    <!--Designerd by: http://bootstrapthemes.co-->

    {% include head.html %}

    <body data-spy="scroll" data-target=".navbar-collapse">


        <!-- Preloader -->
        <div id="loading">
            <div id="loading-center">
                <div id="loading-center-absolute">
                    <div class="object" id="object_one"></div>
                    <div class="object" id="object_two"></div>
                    <div class="object" id="object_three"></div>
                    <div class="object" id="object_four"></div>
                </div>
            </div>
        </div><!--End off Preloader -->


        <div class="culmn">
            <!--Home page style-->


            <nav class="navbar navbar-default navbar-fixed white no-background bootsnav">

                <div class="container">
                    <!-- Start Atribute Navigation -->
                    <div class="attr-nav">
                        <ul>
                            <li class="side-menu"><a href="#"><i class="fa fa-bars"></i></a></li>
                        </ul>
                    </div>
                    <!-- End Atribute Navigation -->

                    <!-- Start Header Navigation -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>
                    <!-- End Header Navigation -->

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="navbar-menu">
                        <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                          {% for item in site.data.navigation %}
                            <li><a href="{{ item.link }}"{% if page.url == item.link %}class="current"{% endif %}>
                              {{ item.name }}
                            </a></li>
                          {% endfor %}
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div>


                <!-- Start Side Menu -->
                <div class="side">
                    <a href="#" class="close-side"><i class="fa fa-times"></i></a>
                    <div class="widget">
                        <h6 class="title">Contact</h6>
                        <ul class="link">
                            <li>E-mail of {{ site.authors[0].name }} : <br / > <I>{{ site.authors[0].email }}</I></li>
                            <li>E-mail of {{ site.authors[1].name }} : <br / > <I>{{ site.authors[1].email }}</I></li>
                        </ul>
                    </div>
                    <div class="widget">
                        <h6 class="title">Additional Links</h6>
                        <ul class="link">
                            <li><a href="{{ site.authors[0].github_url }}">Github of {{ site.authors[0].name }}</a></li>
                            <li><a href="{{ site.authors[0].blog_url }}">Blog of {{ site.authors[0].name }}</a></li>
                            <li><a href="{{ site.authors[1].github_url }}">Github of {{ site.authors[1].name }}</a></li>
                            <li><a href="{{ site.authors[1].blog_url }}">Blog of {{ site.authors[1].name }}</a></li>
                        </ul>
                    </div>
                </div>
                <!-- End Side Menu -->

            </nav>


            <!--Home Sections-->

            <section id="hello" class="home bg-mega">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="main_home">
                            <div class="home_text">
                                <h1 class="text-white">TEAM <br /> UNSOVLED PROBLEM</h1>
                            </div>
                        </div>
                    </div><!--End off row-->
                </div><!--End off container -->
            </section> <!--End off Home Sections-->


            <!--About Sections-->
            <section id="about" class="about roomy-100">
                <div class="container">
                    <div class="row">
                        <div class="main_about">
                            <div class="col-md-6">
                                <div class="about_content">
                                    <h2>ABOUT US</h2>
                                    <div class="separator_left"></div>

                                    <p> Team Unsolved Problem : Angry Old Super Sonic Mega Star Dragon Tiger </p>

                                    <div class="about_btns m-top-40">
                                        <a href="staff" class="btn btn-primary">MEMBERS</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="about_accordion wow fadeIn">
                                    <div id="faq_main_content" class="faq_main_content">
                                        {% for author in site.authors %}
                                        <h6><i class="fa fa-angle-right"></i> {{ author.name }} </h6>
                                        <div>
                                            <div class="content">
                                              <h6> {{ author.position }} </h6>
                                              <p> {{ author.content | markdownify }} </p>
                                            </div>
                                        </div> <!-- End off accordion item-1 -->
                                        {% endfor %}
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div><!--End off row-->
                </div><!--End off container -->
            </section> <!--End off About section -->

            <!--Blog Section-->
            <section id="blog" class="blog lightbg">
                <div class="container">
                    <div class="row">
                        <div class="main_blog text-center roomy-40">
                            <div class="col-sm-8 col-sm-offset-2">
                                <div class="head_title text-center">
                                    <h2>RECENT POSTS</h2>
                                    <div class="separator_auto"></div>
                                  </div>
                            </div>

                            <!--recent post-->
                            <div class="col-md-4">
                                <div class="blog_item m-top-20">
                                  <!--image
                                    <div class="blog_item_img">
                                        <img src="assets/images/Blog/1.jpg" alt="" />
                                    </div>
                                  -->
                                    <div class="blog_text roomy-40 bg-white">
                                        <h6><a href="{{ site.posts[0].url | prepend: site.baseurl }}">{{ site.posts[0].title }}</a></h6>
                                        <p>
                                          {{ site.posts[0].excerpt }}
                                          <em> {{ site.posts[0].date | date_to_string }} / {{ site.posts[0].author }} </em>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="blog_item m-top-20">
                                  <!--image
                                    <div class="blog_item_img">
                                        <img src="assets/images/Blog/1.jpg" alt="" />
                                    </div>
                                  -->
                                    <div class="blog_text roomy-40 bg-white">
                                        <h6><a href="{{ site.posts[1].url | prepend: site.baseurl }}">{{ site.posts[1].title }}</a></h6>
                                        <p>
                                          {{ site.posts[1].excerpt }}
                                          <em> {{ site.posts[1].date | date_to_string }} / {{ site.posts[1].author }} </em>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="blog_item m-top-20">
                                  <!--image
                                    <div class="blog_item_img">
                                        <img src="assets/images/Blog/1.jpg" alt="" />
                                    </div>
                                  -->
                                    <div class="blog_text roomy-40 bg-white">
                                        <h6><a href="{{ site.posts[2].url | prepend: site.baseurl }}">{{ site.posts[2].title }}</a></h6>
                                        <p>
                                          {{ site.posts[2].excerpt }}
                                          <em> {{ site.posts[2].date | date_to_string }} / {{ site.posts[2].author }} </em>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- End off recent post-->

                        </div>
                    </div><!--End off row -->
                </div><!--End off container -->
            </section><!-- End off Blog section-->

            <!--Projects Section-->
            <section id="portfolio" class="portfolio">
                <div class="container">
                    <div class="row">
                        <div class="main_portfolio roomy-100">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="head_title text-center">
                                    <h2>OUR PROJECTS</h2>
                                    <div class="separator_auto"></div>
                                    <p> There is no project yet </p>
                                </div>
                            </div>
                        </div>
                    </div> <!--End off row-->
                </div> <!--End off container-->
            </section> <!--End off Portfolio section-->

            <!-- scroll up-->
            <div class="scrollup">
                <a href="#"><i class="fa fa-chevron-up"></i></a>
            </div><!-- End off scroll up -->


            <footer id="footer" class="footer bg-black">
                <div class="container">
                    <div class="row">
                        <div class="main_footer text-center p-top-40 p-bottom-30">
                            <p class="wow fadeInRight" data-wow-duration="1s">
                                All content copyright Team Unsolved Problem © 2019
                                <br />
                                Made with
                                <i class="fa fa-heart"></i>
                                by
                                <a target="_blank" href="http://bootstrapthemes.co">Bootstrap Themes</a>
                                2016.
                                <br />
                                All Rights Reserved
                            </p>
                        </div>
                    </div>
                </div>
            </footer>

        </div>

            <!-- JS includes -->

            <script src="assets/js/vendor/jquery-1.11.2.min.js"></script>
            <script src="assets/js/vendor/bootstrap.min.js"></script>

            <script src="assets/js/jquery.magnific-popup.js"></script>
            <script src="assets/js/jquery.easing.1.3.js"></script>
            <script src="assets/js/slick.min.js"></script>
            <script src="assets/js/jquery.collapse.js"></script>
            <script src="assets/js/bootsnav.js"></script>

            <script src="assets/js/plugins.js"></script>
            <script src="assets/js/main.js"></script>

    </body>
</html>
