<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

    <!--Designerd by: http://bootstrapthemes.co-->

    {% include head_for_post.html %}

    <body data-spy="scroll" data-target=".navbar-collapse">


        <!-- Preloader -->
        <div id="loading">
            <div id="loading-center">
                <div id="loading-center-absolute">
                    <div class="object" id="object_one"></div>
                    <div class="object" id="object_two"></div>
                    <div class="object" id="object_three"></div>
                    <div class="object" id="object_four"></div>
                </div>
            </div>
        </div><!--End off Preloader -->


        <div class="culmn">
            <!--Home page style-->


            <nav class="navbar navbar-default navbar-fixed white no-background bootsnav">

              <!-- Start Top Search -->
                <div class="top-search">
                  <form action="/search.html" method="get">
                    <div class="container">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                              <input type="text" class="form-control" placeholder="Search" id="search-box" name="query">
                            <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                        </div>
                    </div>
                  </form>
                </div>
                <!-- End Top Search -->

                <div class="container">

                    <!-- Start Atribute Navigation -->
                    <div class="attr-nav">

                        <ul>
                          <li>
                            <a style="padding-top: 13px;">
                            <form class="search-form" action="/search.html" method="get">
                              <input type="text" placeholder="Search" id="search-box" name="query">
                            </form>
                            </a>
                          </li>
                          <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                          <li class="side-menu"><a href="#"><i class="fa fa-bars"></i></a></li>
                        </ul>
                    </div>
                    <!-- End Atribute Navigation -->

                    <!-- Start Header Navigation -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>
                    <!-- End Header Navigation -->

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="navbar-menu">
                        <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                          {% for item in site.data.navigation %}
                            <li><a href="{{ item.link }}"{% if page.url == item.link %}class="current"{% endif %}>
                              {{ item.name }}
                            </a></li>
                          {% endfor %}
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div>


                <!-- Start Side Menu -->
                <div class="side">
                    <a href="#" class="close-side"><i class="fa fa-times"></i></a>
                    <div class="widget">
                        <h6 class="title">Contact</h6>
                        <ul class="link">
                            <li><a>E-mail of {{ site.authors[0].name }} : <br / > <I>{{ site.authors[0].email }}</I></a></li>
                            <li><a>E-mail of {{ site.authors[1].name }} : <br / > <I>{{ site.authors[1].email }}</I></a></li>
                        </ul>
                    </div>
                    <div class="widget">
                        <h6 class="title">Additional Links</h6>
                        <ul class="link">
                            <li><a href="{{ site.authors[0].github_url }}">Github of {{ site.authors[0].name }}</a></li>
                            <li><a href="{{ site.authors[0].blog_url }}">Blog of {{ site.authors[0].name }}</a></li>
                            <li><a href="{{ site.authors[1].github_url }}">Github of {{ site.authors[1].name }}</a></li>
                            <li><a href="{{ site.authors[1].blog_url }}">Blog of {{ site.authors[1].name }}</a></li>
                        </ul>
                    </div>
                </div>
                <!-- End Side Menu -->

            </nav>


            {{ content }}

            <!-- scroll up-->
            <div class="scrollup">
                <a href="#"><i class="fa fa-chevron-up"></i></a>
            </div><!-- End off scroll up -->


            <footer id="footer" class="footer bg-black">
                <div class="container">
                    <div class="row">
                        <div class="main_footer text-center p-top-40 p-bottom-30">
                            <p class="wow fadeInRight" data-wow-duration="1s">
                                All content copyright Team Unsolved Problem © 2019
                                <br />
                                Made with
                                <i class="fa fa-heart"></i>
                                by
                                <a target="_blank" href="http://bootstrapthemes.co">Bootstrap Themes</a>
                                2016.
                                <br />
                                All Rights Reserved
                            </p>
                        </div>
                    </div>
                </div>
            </footer>




        </div>

            <!-- JS includes -->

            <script src="{{ site.baseurl }}/assets/js/vendor/jquery-1.11.2.min.js"></script>
            <script src="{{ site.baseurl }}/assets/js/vendor/bootstrap.min.js"></script>

            <script src="{{ site.baseurl }}/assets/js/jquery.magnific-popup.js"></script>
            <script src="{{ site.baseurl }}/assets/js/jquery.easing.1.3.js"></script>
            <script src="{{ site.baseurl }}/assets/js/slick.min.js"></script>
            <script src="{{ site.baseurl }}/assets/js/jquery.collapse.js"></script>
            <script src="{{ site.baseurl }}/assets/js/bootsnav.js"></script>

            <script src="{{ site.baseurl }}/assets/js/plugins.js"></script>
            <script src="{{ site.baseurl }}/assets/js/main.js"></script>

    </body>
</html>
