---
layout: default
---

{% include home_default.html %}

<section id="{{ page.title }}" class="roomy-100">
    <div class="container">
        <div class="row">
            <div class="main_about">
                <div class="col-md-12">
                    <div class="about_content">
                        <h2>{{ page.title }}</h2>
                        <div class="separator_left"></div>

                        <p>
                          <I>{{ page.date | date_to_string }}</I>
                          {% assign author = site.authors | where: 'name', page.author | first %}
                          {% if author %}
                            - <I> <a href="{{ author.url | prepend: site.baseurl }}">{{ author.name }}</a> </I>
                          {% endif %}
                        </p>

                        <p>
                          {{ content }}
                        </p>

                    </div>
                </div>

            </div>
        </div><!--End off row-->
    </div><!--End off container -->
</section> <!--End off About section -->
