---
layout: default
---

{% include home_default.html %}

<section id="Search" class="blog">
    <div class="container">
        <div class="row">
            <div class="main_blog text-center roomy-40">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="head_title text-center">
                        <h2>Search</h2>
                        <div class="separator_auto"></div>
                    </div>
                </div>
            </div><!--End off row -->
        </div><!--End off container -->
    </div>
</section>


{{ content }}
